/* Responsive settings */

@media (max-width: 768px) {
	.responsive-calculator {
		width: 95% !important;
		height: 530px;
	}

	#about {
		width: 75% !important;
	}

	.btn {
		width: 70px !important;
	}

	.button {
		font-size: 20px !important;
	}
}

#responsive {
	width: 70%;
	margin:0 auto;
	text-align: center;
}

#toggleNavigation {
	background-color: white;
}

/* Overall styles */

html, body {
	margin:0;
	padding:0;
	height:100%;
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/old_mathematics/old_mathematics.png");
}

#container {
	min-height:100%;
	position:relative;
}

/* Navigation */

.navbar {
	background-color: #e74c3c;
}

.navbar-brand, .navLink {
	color:white !important;
}

.navbar-brand:hover, .navLink:hover {
	color: black !important;
}

/* Calculator */

#calculator, #about {
	width: 40%;
	margin: 0 auto;
}

#result-header {
	font-size: 20px;
}

#result {
	float: right;
}

.numberbuttons{
	text-align: center;
	margin-top: 30px;
}

.button {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
}

.btn {
	width: 60px;
}

/* About page */

.alignleft {
	float: left;
}

.about-item {
	text-align: right;
}

/* Footer */

#footer {
	background-color: #e74c3c;
	text-align: center;
	margin-top: 50px;
	padding: 30px;
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}

#github {
	color: rgb(0, 0, 0);
	opacity: .5;
}

#github:hover {
	opacity: 1;
}