body {
	
}

h1 {
	text-align: center;

}

#container {
	margin-top: 50px;
}

#calculator {
	width: 50%;
	margin: 0 auto;
}

.numberbuttons{
	text-align: center;
	width: 50%;
	margin-top: 30px;
}

.numberbutton {
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
}